@page "/create-product"
@using System.ComponentModel.DataAnnotations;
@using OnlineEcommerce.Server.Element_Models;
@using static MudBlazor.CategoryTypes;
@inherits AddProductBase


    <h3 class="create-heading">Add Product Information</h3>
    <MudGrid Class="mt-1">
        <MudItem xs="12" sm="7" lg="7">
            <MudCard Class="px-2 py-2" Outlined="true">
                <MudCardContent Class="pa-5">
                    <MudText Typo="Typo.h6" Class="mb-4"> Basic Information </MudText>
                        <MudTextField @bind-Value="product.Name" Label="Product Name"
                                      Variant="Variant.Outlined" ></MudTextField>
                        <MudTextField @bind-Value="product.Description" T="string" Label="Description"
                                      Variant="Variant.Outlined" Lines="7" Class="my-4" />
                        <MudGrid>
                            <MudItem xs="6">
                                <MudTextField @bind-Value="product.BasePrice" Label="Price"
                                              Variant="Variant.Outlined"></MudTextField>
                            </MudItem>
                        </MudGrid>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="7" lg="7">
            <MudCard Class="px-2 py-2" Outlined="true">
                <MudCardContent Class="pa-5">
                    <MudText Typo="Typo.h6" Class="mb-4"> Product Size </MudText>
                    <MudContainer Class="d-flex justify-space-between pa-0 mt-3 mb-6">
                        <MudTextField @bind-Value="size.Value" Label="Size"
                                  Variant="Variant.Outlined" Class="me-5"></MudTextField>
                        <MudTextField @bind-Value="@size.Price" Label="Price Modifier"
                                      Variant="Variant.Outlined" Class="me-5"></MudTextField>
                        <MudTextField @bind-Value="@size.Stock" Label="Stock"
                                  Variant="Variant.Outlined" Class="me-10"></MudTextField>
                        <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="AddSize" Class="px-12 mt-1" Style="height: 4em;">Add</MudButton>
                    </MudContainer>

                    <MudChipSet AllClosable="true" OnClose="RemoveSize">
                        @foreach (var value in SizeVariants)
                        {
                            <MudChip Color="Color.Info" Text="@value.Value"></MudChip>
                        }
                    </MudChipSet>

                    @if(SizeVariants.Count > 0)
                    {
                        <MudSimpleTable Hover="true" Bordered="true" Outlined="true" Striped="true" Style="overflow-x: auto;" Class="mt-7">
                            <thead>
                                <tr>
                                    <th>Size</th>
                                    <th>Price Modifier</th>
                                    <th>Stock</th>
                                </tr>

                            </thead>
                            <tbody>
                                @foreach (var v in SizeVariants)
                                {
                                    <tr>
                                        <td>@v.Value</td>
                                        <td>@v.Price</td>
                                        <td>@v.Stock</td>
                                    </tr>
                                }
                            </tbody>
                        </MudSimpleTable>
                    }
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="4" lg="4">
        </MudItem>
    </MudGrid>


